<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dj.pedofit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/icon"
        android:label="PedoFit" >
        <activity
            android:name="com.dj.pedofit.Pedometer"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.dj.pedofit.Settings"
            android:label="@string/activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dj.pedofit.Splash"
            android:label="@string/activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dj.pedofit.BmiCalculator"
            android:label="@string/activity_settings" >
        </activity>

        <service android:name="com.dj.pedofit.StepService" />
    </application>

</manifest>